.content {
    background-color: $gray-darkest;
    padding-top: 160px;
    padding-bottom: 160px;
    min-height: 100vh;

    @include media(w1024) {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    @include media(w600) {

      br {
          display: none;
      }
    }

    @media (max-height: 300px) {
        padding-top: 5vw;
        padding-bottom: 5vw;
    }

    &__container {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: 100%;
    }

    &__head {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
}