.fw-bold {
    font-weight: bold;
}

.fw-med {
    font-weight: 500;
}

.fw-reg {
    font-weight: normal;
}

.fw-light {
    font-weight: 300;
}

.ta-center {
    text-align: center;
}

.tt-uppercase {
    text-transform: uppercase;
}

.text {

    &-white {
        color: white;
    }

    &-blue {
        color: $blue;
    }

    &-gray {
        color: $gray;
    }
}

@for $i from 0 through 20 {
  .mb-#{$i} {
    margin-bottom: #{$i * 4}px;

    @include media(w1024) {
      margin-bottom: #{$i * 2}px;
    }
  }
}

