.fw-bold {
	font-weight: bold;
}

.fw-med {
	font-weight: 500;
}

.fw-reg {
	font-weight: normal;
}

.fw-light {
	font-weight: 300;
}

.ta-center {
	text-align: center;
}

.tt-uppercase {
	text-transform: uppercase;
}

