extends layouts/_default_layout.pug

include ./components/crypto-list.pug

block vars
  -
    var title = 'cp0x';

block content
  .content
    .container.content__container
      div.mb-16
        .content__head.mb-18
          h1.text-white.mb-0
            |cp
            span.text-blue.
              0
            |x
          a(href="mailto:contact@cp0x.vc").fw-light.
            Contact us
        p.fw-light.text-gray.
          Community of blockchain investors, developers, influencers and entrepreneurs.
      +crypto-list
